# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
.env
secrets.js

/cache
/artifacts

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase_secret.json
